@media(max-width:1025px){
    .header-nav {
        width: 90%;
    }
    .logo {
        font-size: 25px;
    }
    .header-divwraper {
        width: 85%;
    }
    .header-title {
        font-size: 38px;
    }
    .header-paragraph {
        font-size: 20px;
    }
    .section1-paragraph {
        width: 80%;
        font-size: 16px;
    }
    .footer-wraper {
        width: 90%;
    }
    .footer-title {
        font-size: 25px;
    }
    .footer-paragraph {
        font-size: 15px;
    }
    .footer-line1 {
        width: 300px;
    }
    .info-icon {
        font-size: 15px;
        line-height: 1.2;
    }
    .footer-wraper {
        flex-wrap: wrap;
        width: 85%;
    }
}
@media(max-width:1250px){
    .header-nav {
        width: 90%;
    }
}
@media(max-width:950px) {
    .footer-wraper {
        flex-wrap: wrap;
        width: 85%;
    }
}
@media(max-width:900px){
    .navigation {
        display: none;
    }
    .burger-bar {
        display: block;
        text-align: end;
        color: white;
    }
}
@media(max-width:850px) {
    .datetime {
        width: 80%;
    }
    .header-nav {
        width: 80%;
    }
    
    .header-divwraper {
        flex-direction: column;
        margin: 0 auto;
        width: 500px;
        align-items: center;
    }
    .datetime {
        margin-top: 20px;
    }
    .header-title {
        text-align: center;
    }
    .header-paragraph {
        text-align: center;
    }
    .header-div {
        align-items: center;
    }
    .join-button {
        margin-left: 0px;
    }
    .header-bg {
        height: auto;
        padding-bottom: 50px;
    }
    .section3-title {
        font-size: 40px;
    }
    
}

@media(max-width:770px) {
    
    .header-divwraper {
        flex-direction: column;
        margin: 0 auto;
        width: 500px;
        align-items: center;
    }
    .header-title {
        font-size: 50px;
    }
    .header-paragraph {
        width: 85%;
        text-align: center;
    }
    .join-button {
        margin-bottom: 30px;
    }
    .header-div {
        align-items: center;
    }
    .join-button {
        margin-left: 0;
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .sec1 {
        padding-top: 100px;
    }
    .section1 {
        flex-direction: column;
    }
    .section1-title {
        margin-top: 20px;
    }
    .section2-wraper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section2-title {
        padding: 30px 0px;
    }
    .section3-wraper {
        width: 80%;
        text-align: center;
    }
    .forms {
        width: 350px;
    }
    .btn-send {
        margin: 0;
    }
    .map {
        width: 100%;
        margin-top: 30px;
    }
    .footer-wraper {
        flex-wrap: wrap;
        width: 85%;
    }
    .header-bg {
        padding-bottom: 20px;
    }
    .sec1 {
        padding-top: 50px;
    }
}
@media(max-width:600px) {
    .header-bg {
        height: auto;
        padding-bottom: 20px;
    }
    .featured-wraper {
        width: 80%;
        flex-wrap: wrap;
    }
    .header-featured {
        flex-wrap: wrap;
        justify-content: center;
    }
    .section2-titlewraper {
        width: 80%;
        margin: 0 auto;
    }
    .section1-title {
        text-align: center;
    }
    .section1-paragraph {
        text-align: center;
        margin: 0 auto;
    }
    .footer-line2 {
        margin-top: 20px;
    }
    .section3-title {
        font-size: 35px;
    }
}
@media(max-width:490px) {
    .header-div {
        width: 85%;
    }
    .header-title {
        font-size: 42px;
    }
    .header-paragraph {
        font-size: 15px;
    }
    .datetime {
        width: 70%;
    }
    .time {
        font-size: 30px;
    }
    .time span:last-child {
        font-size: 30px;
    }
    .section3-title {
        font-size: 25px;
    }
    .section1-image {
        width: 80%;
    }
    .footer-line2 {
        margin-top: 20px;
    }
}
@media(max-width:440px) {
    .header-divwraper {
        width: 90%;
    }
    .header-title {
        font-size: 35px;
    }
    .join-button {
        width: 60%;
        height: 50px;
    }
    .footer-line2 {
        margin-top: 20px;
    }
    
}
@media(max-width:365px) {
    .section2-title {
        font-size: 20px;
    }
    .header-title {
        text-align: center;
    }
    .header-paragraph {
        text-align: center;
    }
    .time {
        font-size: 20px;
    }
    .time span:last-child {
        font-size: 20px;
    }
    .date {
        font-size: 15px;
    }
    .header-div {
        width: 100%;
    }
    .forms {
        width: 90%;
    }
    .footer-line2 {
        margin-top: 20px;
    }
}

/* articles */
@media(max-width:1025px) {
    .article1-wraper {
        width: 85%;
    }
    .article1-paragraph {
        width: 90%;
    }
}
@media(max-width:840px) {
    .article1-image {
        width: 90%;
    }
    .rover-img {
        display: flex;
        justify-content: center;
    }
    .article1-maintitle {
        font-size: 35px;
    }
}
@media(max-width:840px) {
    .article1-maintitle {
        font-size: 30px;
    }
    .article1-paragraph {
        font-size: 15px;
    }
    .rover-video {
        width: 90%;
    }
}
@media(max-width:430px) {
    .article1-maintitle {
        font-size: 25px;
    }
    .article1-paragraph {
        font-size: 13px;
    }
}
@media(max-width:1025px) {
    .page1article-wraper {
        width: 90%;
    }
    .page1article-paragraph {
        width: 90%;
    }
    .page1article-maintitle {
        width: 90%;
    }
    .article-div {
        width: 90%;
    }
}
@media(max-width:700px) {
    .page1article-paragraph {
        font-size: 15px;
    }
    .page1article-maintitle {
        font-size: 28px;
    }
    .article-video {
        width: 90%;
    }
}
@media(max-width:481px) {
    .page1article-maintitle {
        font-size: 24px;
    }
}
@media(max-width:1100px) {
    .article-wraper
}
@media(max-width:1100px) {
    .article-wraper {
        width: 85%;
    }
    .page2-wraper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .articleList {
        margin: 0 auto;
    }
}
@media(max-width:950px) {
    .articleList {
        width: 90%;
    }
}
@media(max-width:769px) {
    .article-title {
        font-size: 20px;
    }
    .article-paragraph {
        font-size: 12px;
    }
}
@media(max-width:600px) {
    .articleList {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .article-description {
        text-align: center;

    }
    .article-img {
        padding: 0px;
    }
}
@media(max-width:500px) {
    .page2-title {
        font-size: 35px;
    }
    .page2-line {
        width: 80%;
    }
}
@media(max-width:380px) {
    .article-title {
        font-size: 16px;
    }
    .page2-title {
        font-size: 28px;
    }
    .page2-line {
        width: 60%;
    }
}
@media(max-width:1180px) {
    .page3-sectionwraper {
        width: 85%;
    }
}
@media(max-width:900px) {
    .article1-parent {
        width: 85%;
    }
    .section-line2 {
        width: 85%;
    }
    .line2-wraper {
        width: 48%;
    }
    .section-line3 {
        width: 85%;
    }
    .section-line4 {
        width: 85%;
    }
    .line4-article {
        width: 95%;
    }
    .line5-wraper {
        width: 85%;
    }
    .line5-div {
        width: 95%;
    }
    .sectiontitle-wraper {
        width: 90%;
    }
}
@media(max-width:690px) {
    .maintitle-page3 {
        font-size: 30px;
    }
    .mainparagraph-page3 {
        font-size: 14px;
    }
    .title1 {
        font-size: 22px;
    }
    .page3-paragraphs {
        font-size: 14px;
    }
    .title2 {
        font-size: 20px;
    }
}
@media(max-width:540px) {
    .section-line2 {
        flex-direction: column;
        align-items: center;
    }
    .line2-wraper {
        width: 90%;
    }
    .line4-wraper {
        flex-direction: column;
        align-items: center;
    }
    .line4-article {
        width: 100%;
    }
    .line5-wraper {
        flex-direction: column;
        align-items: center;
    }
    .line5-div {
        width: 100%;
    }
}
@media(max-width:440px) {
    .title1 {
        font-size: 18px;
    }
    .page3-paragraphs {
        font-size: 12px;
    }
    .title2 {
        font-size: 16px;
    }
}
@media(max-width:1180px) {
    .page4-wraper {
        width: 85%;
    }
    .page4-line1 {
        width: 85%;
    }
    .page4-imgdiv {
        width: 48%;
    }
    .div1 {
        margin-right: 15px;
    }
    .page4-video {
        width: 85%;
    }
    .page4-imgdiv {
        width: 95%;
    }
    .pg4line3-wraper {
        width: 85%;
    }
    .page4-line3 {
        width: 95%;
    }
    .page4-oneimage {
        width: 85%;
        
    }
}
@media(max-width:770px) {
    /* .pg4line3-wraper {
        flex-wrap: wrap;
        justify-content: center;
    } */
    .pg4line3-wraper {
        margin-bottom: 15px;
        flex-direction: column;
        width: 73%;
        align-items: center;
    }
    .page4-line3 {
        margin: 0;
    }
    .page4-line1 {
        flex-direction: column;
        align-items: center;
    }
    .div1 {
        margin: 0px;
    }
    .div2 {
        margin-top: 15px;
    }
    .page4-oneimage {
        width: 70%;
    }
    .page4-video {
        height: 280px;
    }
}
@media(max-width:410px) {
    .page4-maintitle {
        font-size: 30px;
    }
    .page4-title {
        font-size: 20px;
    }
    .page4-video {
        height: 180px;
    }
}
@media(max-width:1180px) {
    .pg5section-wraper {
        width: 85%;
    }
    .footer-wraper {
        width: 85%;
        flex-wrap: wrap;
    }
    .pg5-mapdiv {
        width: 90%;
    }
}
@media(max-width:1000px) {
    .page5-forms {
        width: 85%;
    }
    .forms-line2 {
        width: 85%;
    }
}
@media(max-width:920px) {
    .page5-forms {
        flex-direction: column;
        align-items: center;
    }
    .forms-line2 {
        margin-top: 15px;
    }
    .pg5-infowraper {
        width: 85%;
    }
}
@media(max-width:670px) {
    .pg5-infowraper {
        flex-direction: column;
    }
    .infobox {
        margin-bottom: 20px;
    }
    .pg5-mapdiv {
        width: 80%;
    }
}
@media(max-width:550px) {
    .pg5-map {
        height: 300px;
    }
    .forms-line1 {
        width: 85%;
    }
}
@media(max-width:380px) {
    .pg5-title {
        font-size: 23px;
    }
    .pg5-map {
        height: 200px;
    }
}
