.datetime {
  color: #C6DBFF;
  font-family: 'Alata', sans-serif;
  max-width: 400px;
  width: 100%;
  padding: 15px 10px;
  border: 3px solid white;
  border-radius: 5px;
}
.date {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time span:last-child{
 font-weight: 600; 
 font-size: 50px;
 text-transform: uppercase;
 margin-top: 10px;

}


.header-bg {
  background-image: url('../images/img2.jpg');
  height: 780px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-nav {
  max-width: 1235px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
}
.navigation {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: 'Alata', sans-serif;
  font-size: 30px;
  color: white;
}
.nav-li {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  color: white;
}
.burger-bar {
  display: none;
  color: white;
}
.active {
  color: #C6DBFF;
}
.header-div {
  max-width: 580px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  /* margin: 0 auto; */
  margin-top: 120px;
  /* margin-left: 150px;
  margin-right: 150px; */
}
.header-title {
  font-family: 'Alata', sans-serif;
  font-size: 55px;
  color: white;
  /* text-align: center; */
}
.header-paragraph {
  font-family: 'Actor', sans-serif;
  font-size: 22px;
  color: #C6DBFF;
  /* text-align: center; */
  margin-top: 20px;
}
.join-button {
  max-width: 240px;
  width: 100%;
  height: 60px;
  background-color: #04101E;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 80px;
  border: 1px solid #C6DBFF;
}
.header-button {
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 22px;
}
.header-divwraper {
  display: flex;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
}
.featured-divs {
  max-width: 350px;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.header-images {
  width: 100%;
  margin-bottom: 10px
}
.featured-wraper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  background-color: #04101E;
  margin: 0 auto;
  margin-top: 40px;
}
.header-featured {
  display: flex;
  flex-direction: row;
}  
.featured-link {
  color: white;
  margin-top: 5px;
  font-family: 'Alata', sans-serif;
}
 


.sec1 {
  background-color:#04101E;
}
.section1-image {
  width: 500px;
}
.image {
  width: 100%;
}
.section1 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
}
.section1-div {
  max-width: 500px;
  width: 100%;
}
.section1-title {
  font-family: 'Alata', sans-serif;
  font-size: 30px;
  color: white;
  margin-bottom: 15px;
}
.section1-paragraph {
  font-family: 'Actor', sans-serif;
  font-size: 18px;
  color: #C6DBFF;
}

.section-bg {
  background-image: url('../images/img2.jpg');
}
.section2-divs {
  max-width: 300px;
  width: 100%;
}
.sec2-img {
  width: 100%;
}
.section2-wraper {
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.section2-title {
  font-family: 'Alata', sans-serif;
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 15px;
}
.div-description {
  font-family: 'Alata', sans-serif;
  color: #C6DBFF;
  font-size: 15px;
  text-align: center;
  padding: 25px 0px;
}



.section3 {
  background-color: #04101E ;
}
.section3-title {
  font-family: 'Alata', sans-serif;
  font-size: 45px;
  color: white;
  margin-bottom: 25px;
  padding-top: 30px;
}
.btn-send {
  max-width: 120px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-family: 'Alata', sans-serif;
  margin-left: 115px;

}
.form-element {
  margin-bottom: 8px;
  max-width: 350px;
  width: 100%;
}
.section3-wraper {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forms {
  max-width: 400px;
  width: 100%;
  margin-bottom: 30px;
}
.input-element {
  max-width: 350px;
  width: 100%;
  height: 40px;
  border: 2px solid #04101E;
  border-radius: 5px;
  background-color: #C6DBFF;
  padding-left: 15px;
}
.input-element::placeholder {
  color: #04101E;
  font-family: 'Alata', sans-serif;

}
.input-element:focus{
  outline: none;
  font-family: 'Alata', sans-serif;
}


.footer-bg {
  background-image: url('../images/img2.jpg');
}
.map {
  max-width: 500px;
  width: 80%;
  height: 200px;
}
.iframe-map {
  width: 100%;
  height: 100%;
}
.footer-wraper {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-line1{
  max-width: 350px;
  width: 100%;
}
.footer-title {
  font-family: 'Alata', sans-serif;
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
}
.footer-paragraph {
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  color: #C6DBFF;
  margin-bottom: 10px;
}
.icon {
  margin-right: 10px;
}
.info {
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  color: white;
}
.contactinfo-wraper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.info-icon {
  font-family: 'Alata', sans-serif;
  color: #C6DBFF;
  margin-bottom: 10px;
}
.footer-icon {
  margin-right: 10px;
}
.join-button:hover {
  background-color: #C6DBFF;
  transition: 0.3s ease-in-out;
}
.join-button:hover .header-button {
  color: #04101E;
}


/* PAGE 2 */
.header-bg2 {
  background-image: url('../images/img2.jpg');
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.page2-title {
  font-family: 'Alata', sans-serif;
  font-size: 45px;
  color: white;
  text-align: center;
  padding-top: 30px;
}
.page2-line {
  max-width: 330px;
  width: 100%;
  height: 2px;
  background-color: #C6DBFF;
  margin-top: 20px;
}
.page2-titlewraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.articleList {
  max-width: 850px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 30px 0px;
}
.articleList-img {
  max-width: 350px;
  width: 100%;
}
.article-img {
  width: 100%;
  padding-right: 20px;
}
.article-description {
  max-width: 400px;
  width: 100%;
}
.article-wraper {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  background-color: #04101E;
}
.article-title {
  font-family: 'Alata', sans-serif;
  font-size: 25px;
  color: white;
}
.article-paragraph {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  color: #C6DBFF;
  padding-top: 15px;
}



.img-parent {
  max-width: 720px;
  width: 100%;
}
.bigbang-img {
  width: 100%;
}
.line2-wraper {
  max-width: 350px;
  width: 100%;
}
.line2-img {
  width: 100%;
  margin-top: 10px;
}
.section-line2 {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.line3-wraper {
  max-width: 720px;
  width: 100%;
}
.line3-img {
  width: 100%;
  margin-top: 10px;
}
.line4-article {
  max-width: 230px;
  width: 100%;
}
.line4-img {
  width: 100%;
}
.line4-wraper{
  max-width: 720px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-line4 {
  max-width: 720px;
  width: 100%;
}
.line5-div {
  max-width: 350px;
  width: 100%;
  margin-top: 10px;
}
.line5-img {
  width: 100%;
}
.line5-wraper {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  width: 100%;
}
.page3-sectionwraper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #04101E;
}
.sectiontitle-wraper {
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maintitle-page3 {
  font-family: 'Alata', sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
  padding-top: 30px;
}
.mainparagraph-page3 {
  font-family: 'Alata', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #C6DBFF;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-bottom: 20px; */
}
.title1 {
  font-family: 'Alata', sans-serif;
  font-size: 24px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}
.title2 {
  font-family: 'Alata', sans-serif;
  font-size: 22px;
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}
.title3 {
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.page3-paragraphs {
  font-family: 'Alata', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #C6DBFF;
  margin-bottom: 20px;
}
.sec-line {
  max-width: 720px;
  width: 100%;
  border-bottom: 2px solid white;
}
.page3-paragraph2 {
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #C6DBFF;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sec4-title {
  font-family: 'Alata', sans-serif;
  font-size: 19px;
  text-align: center;
  color: white;
  margin: 10px 0px;
}
.div-line {
  height: 2px;
  background-color: white;
  max-width: 170px;
  width: 100%;
  margin-bottom: 30px;
}


.page4-imgdiv {
  max-width: 440px;
  width: 100%;
}
.page4-img {
  width: 100%;
}
.page4-wraper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #04101E;
  padding: 30px 0px;
}
.page4-line1 {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.page4-imgdiv2 {
  max-width: 900px;
  width: 100%;
  margin: 20px 0px;
}
.page4-img2 {
  width: 100%;
}
.page4-line3 {
  max-width: 290px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.line3-img {
  width: 100%;
}
.pg4line3-wraper {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.page4-title {
  color: #C6DBFF;
  font-family: 'Alata', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}
.page4-maintitle {
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 40px;
  text-align: center;
}
.page5-forms {
  max-width: 750px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.input-element2 {
  max-width: 500px;
  width: 100%;
  height: 60px;
  border: 2px solid #04101E;
  border-radius: 5px;
  background-color: #C6DBFF;
  padding-left: 15px;
}
.textarea-element2 {
  max-width: 700px;
  width: 100%;
  height: 196px;
  border: 2px solid #04101E;
  border-radius: 5px;
  background-color: #C6DBFF;
  padding-left: 15px;
  padding-top: 15px;
}
.forms-line1 {
  max-width: 380px;
  width: 100%;
}
.forms-line2 {
  max-width: 400px;
  width: 100%;
}

.input-element2::placeholder {
  color: #04101E;
  font-family: 'Alata', sans-serif;

}
.input-element2:focus{
  outline: none;
  font-family: 'Alata', sans-serif;
}
.textarea-element2::placeholder {
  color: #04101E;
  font-family: 'Alata', sans-serif;
}
.textarea-element2:focus{
  outline: none;
  font-family: 'Alata', sans-serif;
}
.pg5section-wraper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #04101E;
}
.pg5-mapdiv {
  max-width: 900px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pg5-map {
  width: 100%;
  height: 400px;
}
.pg5-title {
  font-family: 'Alata', sans-serif;
  font-size: 30px;
  color: white;
  margin: 25px 0px;
}
.send-button {
  max-width: 120px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-family: 'Alata', sans-serif;
  margin-top: 15px;
}
.contactpg-wraper {
  max-width: 1000px;
  width: 100%;
}
.contactinfo-div {
  max-width: 60px;
  width: 100%;
  height: 60px;
  /* background-color: #C6DBFF; */
  background-image: url('../images/img2.jpg');
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-envelope {
  color: white;
}
.fa-phone {
  color: white;
}
.fa-compass {
  color: white;
}
.pg5-infowraper {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
}
.info-title {
  font-family: 'Alata', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
}
.info-paragraph {
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  color: #C6DBFF;
  text-align: center;
}
.contactinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pg5-line1 {
  max-width: 700px;
  width: 100%;
}
